/* 
#0b3c7b
#2e69bb
#030303
#e6e6e5
 */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal&display=swap");

:root {
  --text-color: hsl(0, 0%, 100%);
  --primary-hue: 41;
  --lightness: 41;
  --secondary-hue: 41;
  --accent-blue: 106;
  --opacity: 0.9;
  --font: "Tajawal";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font);
  font-size: 18px;
}

.menu {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 450px;
}

.menu-header {
  background: linear-gradient(
    to right bottom,
    rgba(
      var(--primary-hue),
      var(--secondary-hue),
      var(--accent-blue),
      var(--opacity)
    ),
    rgba(
      calc(var(--primary-hue) * 2),
      calc(var(--secondary-hue) * 2),
      calc(var(--accent-blue) * 3),
      var(--opacity)
    )
  );
  padding: 20px;
  text-align: center;
  font-size: 27px;
  font-style: italic;
  color: var(--text-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  h2 {
    margin: 0px 0px 0px 10px;
  }
}

.menu-title {
  background: rgba(
    calc(var(--primary-hue) / 3),
    calc(var(--secondary-hue) / 3),
    calc(var(--accent-blue) / 3),
    var(--opacity)
  );
  color: rgba(
    calc(var(--primary-hue) * 2),
    calc(var(--secondary-hue) * 2),
    calc(var(--accent-blue) * 2),
    var(--opacity)
  );
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  span {
    width: 50%;
  }
}

.menu-body {
  background: rgba(
    calc(var(--primary-hue) / 3),
    calc(var(--secondary-hue) / 3),
    calc(var(--accent-blue) / 3),
    var(--opacity)
  );
}

.menu-body ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 12px;
}

.menu-body ul li a {
  color: var(--text-color);
  text-decoration: none;
  display: block;
  transition: all 0.2s ease-in-out;
  position: relative;
  cursor: pointer;
  font-weight: 300;
}

.menu-body ul li.active {
  background: var(--text-color);
}

.menu-body ul li.active a {
  color: hsl(var(--primary-hue), 0%, 1%);
}

.menu-footer {
  margin-top: 5px;
  background: rgba(
    calc(var(--primary-hue) / 3),
    calc(var(--secondary-hue) / 3),
    calc(var(--accent-blue) / 3),
    var(--opacity)
  );
  width: 100%;
  border-top: 3px solid
    rgba(
      calc(var(--primary-hue) / 3),
      calc(var(--secondary-hue) / 3),
      calc(var(--accent-blue) / 3),
      var(--opacity)
    );
  color: #e6e6e5;
  padding: 7px 12px;
  font-size: 16px;
  display: inline-flex;
}

.menu-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
}

#menu > li > ul {
  position: absolute;
  inset: 0;
  display: none;
}

#menu > li > ul.show {
  display: block;
}

#menu > li > ul > li {
  margin: 0;
}

#menu > li > ul > li > a {
  display: block;
  padding: 8px;
}

ul {
  min-height: 350px;
  position: relative;
  max-height: 60vh;
}

#menu > li > ul.show {
  display: block;
}

ul.submenu {
  display: none;
}

ul.submenu.show {
  display: block;
}

.hide {
  display: none;
}

.menu-body {
  overflow-y: auto;
}
.menu-body::-webkit-scrollbar {
  width: 10px;
}

.menu-body::-webkit-scrollbar-track {
  background: hsl(var(--primary-hue), 0%, 95%);
}

.menu-body::-webkit-scrollbar-thumb {
  background: hsl(var(--primary-hue), 0%, 53%);
}

.menu-body::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--primary-hue), 0%, 33%);
}

.Green {
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px hsl(var(--primary-hue), 30%, 32%);
    background-color: hsl(var(--primary-hue), 30%, 32%);
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary-hue), 29%, 48%);
  }

  * {
    font-family: var(--font), sans-serif;
  }
  width: auto;
  min-width: 20vw;
  padding: 0rem 0.8rem;
  top: 5px;
  right: 5px;
  width: 30vw;
  border-radius: 10px;
  background-color: rgba(
    calc(var(--primary-hue) / 2),
    calc(var(--secondary-hue) / 2),
    calc(var(--accent-blue) / 2),
    var(--opacity)
  );
  border: solid 1px
    rgba(
      calc(var(--primary-hue) / 2),
      calc(var(--secondary-hue) / 2),
      calc(var(--accent-blue) / 2),
      var(--opacity)
    );
  // .menu-body {
  //   max-height: 60vh;
  // }
  .menu-header {
    background: transparent;
    padding: 1rem 0rem;
    text-align: center;
    color: hsl(var(--primary-hue), 35%, 90%);
    h2 {
      font-style: normal;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
  .menu-title {
    color: #fff;
    background: none;
    font-weight: 700;
    font-size: 1rem;
  }
  .menu-body {
    background: transparent;
    ul {
      li {
        margin: 0.8rem 0rem;
        border-radius: 0.5rem;
        border: solid;
        border-color: rgba(
          calc(var(--primary-hue) / 3),
          calc(var(--secondary-hue) / 3),
          calc(var(--accent-blue) / 3),
          0.5
        );
        border-width: 2.6px;
        background: rgba(
          calc(var(--primary-hue) / 3),
          calc(var(--secondary-hue) / 3),
          calc(var(--accent-blue) / 3),
          0.3
        );
        padding: 0.6rem;
        font-weight: 600;
        font-size: 1rem;
        &.active {
          a {
            color: #f4dcff;
          }
          background: rgba(
            calc(var(--primary-hue) / 1.5),
            calc(var(--secondary-hue) / 1.5),
            calc(var(--accent-blue) / 1.5),
            1
          );
        }
      }
    }
  }
  .menu-footer {
    border-top: solid;
    border-color: rgba(
      calc(var(--primary-hue) / 3),
      calc(var(--secondary-hue) / 3),
      calc(var(--accent-blue) / 3),
      1
    );
    border-width: 2.6px;
    padding: 1rem 0.5rem;
    font-size: 1rem;
    background: transparent;
    border-radius: 0 0 0.5rem 0.5rem;
  }
}
.redMenu {
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px hsl(var(--primary-hue), 30%, 32%);
    background-color: rgba(
      calc(var(--primary-hue) / 3),
      calc(var(--secondary-hue) / 3),
      calc(var(--accent-blue) / 3),
      var(--opacity)
    );
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary-hue), 29%, 48%);
  }

  border-radius: 10px;
  font-family: var(--font);

  * {
    font-size: 16px;
  }

  .menu-header {
    border-radius: 10px 10px 0 0;
    background: linear-gradient(
      90deg,
      hsl(var(--primary-hue), 56%, 49%) 0%,
      hsl(var(--primary-hue), 81%, 62%) 35%,
      hsl(var(--primary-hue), 49%, 51%) 100%
    );
  }
  .menu-body {
    border-radius: 0px 0px 10px 10px;
    // max-height: 60vh;
  }
  .menu-footer {
    border-radius: 10px;
  }
  .menu-title {
    color: white;
    background: linear-gradient(
      90deg,
      hsl(var(--primary-hue), 56%, 49%) 0%,
      hsl(var(--primary-hue), 81%, 62%) 35%,
      hsl(var(--primary-hue), 49%, 51%) 100%
    );
  }
  .menu-body ul li.active {
    background-color: hsla(var(--primary-hue), 0%, 100%, 0.815);
  }
  * {
    font-family: var(--font), sans-serif;
  }
  width: auto;
  min-width: 20vw;
  padding: 0rem 1rem;
  width: 30vw;
  border-radius: 30px;
  background-color: rgba(
    calc(var(--primary-hue) / 3),
    calc(var(--secondary-hue) / 3),
    calc(var(--accent-blue) / 3),
    var(--opacity)
  );
  .menu-header {
    background: transparent;
    padding: 1rem 0rem;
    text-align: center;
    color: hsl(0, 100%, 98%);
    border-bottom: 1px solid #fff4f4;
    margin-bottom: 0.5rem;
    h2 {
      font-style: normal;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
  .menu-title {
    color: #fff4f4;
    background: none;
    font-weight: 700;
    font-size: 1rem;
  }
  .menu-body {
    background: transparent;
    ul {
      li {
        &:before {
          content: "\03bf";
          color: #fff4f4;
          width: 20px;
        }
        margin: 0.5rem 0rem;
        border-radius: 50px;
        background: transparent;
        padding: 0.5rem 1rem;
        font-weight: 600;
        font-size: 1rem;
        justify-content: flex-start;
        &.active {
          &:before {
            color: rgba(
              calc(var(--primary-hue) / 3),
              calc(var(--secondary-hue) / 3),
              calc(var(--accent-blue) / 3),
              var(--opacity)
            );
          }
          a {
            color: rgba(
              calc(var(--primary-hue) / 3),
              calc(var(--secondary-hue) / 3),
              calc(var(--accent-blue) / 3),
              var(--opacity)
            );
          }
          background: #fff4f4;
        }
      }
    }
  }
  .menu-footer {
    border-top: solid;
    border-color: hsl(var(--primary-hue), 100%, 98%);
    border-width: 1px;
    padding: 1rem 0.5rem;
    font-size: 1rem;
    background: transparent;
    border-radius: 0 0 0.5rem 0.5rem;
    color: hsl(var(--primary-hue), 100%, 98%);
  }
  .avatar {
    border-radius: 50px;
  }
}
.avatar {
  width: 20%;
  border-radius: 0.5rem;
  border: solid 0.2rem hsla(var(--primary-hue), 0%, 100%, 0.212);
}

.color-adjustment-line,
.adjustment-line {
  width: 40px;
  height: 10px;
  background: white;
  position: relative;
  cursor: pointer;
  top: 0px;
  margin: 5px auto;
  border-radius: 10px;
}
.color-adjustment-line {
  background: hsl(var(--primary-hue), 0%, 1%) !important;
  width: 50px;
  height: 10px;
  top: 10px;
}

.color_input_container {
  width: fit-content;
}
//* alert
.alertContainer {
  min-width: 20vw;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.alert {
  opacity: 90%;
  position: relative;
  left: 0;
  width: auto;
  height: auto;
  padding: 8px;
  margin: 10px;
  line-height: 1.8;
  border-radius: 5px;
  cursor: hand;
  cursor: pointer;
  font-family: var(--font);
  font-weight: 400;
}

:checked + .alert {
  display: none;
}

.alertText {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.alertClose {
  float: right;
  padding-top: 5px;
  font-size: 10px;
}

.clear {
  clear: both;
}

.info {
  background-color: #dddddd;
  border: 1px solid #d1d1d1;
  color: #999;
}

.success {
  background-color: rgb(206, 255, 206);
  border: 1px solid rgb(200, 236, 200);
  color: #9a9;
}

.notice {
  background-color: rgb(213, 255, 255);
  border: 1px solid rgb(190, 236, 236);
  color: #9aa;
}

.warning {
  background-color: #fff4c7;
  border: 1px solid #feec6f;
  color: #c9971c;
}

.error {
  background-color: rgb(255, 208, 208);
  border: 1px solid rgb(230, 182, 182);
  color: #a66;
}
.show {
  display: block;
  transition: all 0.3s;
}
.hide {
  display: none;
  transition: all 2s;
}

// * modal
.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 1;
  pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

/* Demo Styles */
a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  inset: 0;
  position: absolute;
  background: #9595955e;
}

.modal-window {
  & > div {
    border-radius: 1rem;
  }
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

.logo {
  max-width: 150px;
  display: block;
}

small {
  color: lightgray;
}

.btn {
  background-color: white;
  padding: 1em 1.5em;
  border-radius: 0.5rem;
  text-decoration: none;
  i {
    padding-right: 0.3em;
  }
}
.pcr-app {
  border-radius: 15px;
}
.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-palette .pcr-palette,
.pcr-app[data-theme="nano"]
  .pcr-selection
  .pcr-color-palette
  .pcr-palette::before {
  border-radius: 15px 15px 0px 0px;
}
