@charset "UTF-8";
/* 
#0b3c7b
#2e69bb
#030303
#e6e6e5
 */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "arial";
  font-size: 18px;
}

.menu {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 450px;
}

.menu-header {
  background: linear-gradient(to right bottom, #0b3c7b, #2e69bb);
  padding: 20px;
  text-align: center;
  font-size: 27px;
  font-style: italic;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu-header h2 {
  margin: 0px 0px 0px 10px;
}

.menu-title {
  background: #030303;
  color: #2e69bb;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px;
}

.menu-body {
  background: rgba(3, 3, 3, 0.7);
}

.menu-body ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 12px;
}

.menu-body ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  transition: all 0.3s linear;
  position: relative;
  cursor: pointer;
  font-weight: 300;
}

.menu-body ul li.active {
  background: #fff;
}

.menu-body ul li.active a {
  color: #030303;
}

.menu-footer {
  margin-top: 5px;
  border-top: 3px solid #030303;
  background: rgba(3, 3, 3, 0.7);
  color: #e6e6e5;
  padding: 7px 12px;
  font-size: 16px;
}

.menu-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
}

#menu > li > ul {
  position: absolute;
  inset: 0;
  display: none;
}

#menu > li > ul.show {
  display: block;
}

#menu > li > ul > li {
  margin: 0;
}

#menu > li > ul > li > a {
  display: block;
  padding: 8px;
}

ul#menu {
  min-height: 350px;
  position: relative;
}

#menu > li > ul.show {
  display: block;
}

ul.submenu {
  display: none;
}

ul.submenu.show {
  display: block;
}

.hide {
  display: none;
}

.menu-body {
  overflow-y: auto;
  max-height: 350px;
}

.menu-body::-webkit-scrollbar {
  width: 10px;
}

.menu-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.menu-body::-webkit-scrollbar-thumb {
  background: #888;
}

.menu-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.redMenu {
  background-color: rgba(255, 0, 0, 0.466);
  border-radius: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.redMenu * {
  font-size: 16px;
}
.redMenu .menu-header {
  border-radius: 10px 10px 0 0;
  background: linear-gradient(90deg, #c43b37 0%, #ed5154 35%, #c04646 100%);
}
.redMenu .menu-body {
  border-radius: 0px 0px 10px 10px;
}
.redMenu .menu-footer {
  border-radius: 10px;
}
.redMenu .menu-title {
  color: white;
  background: linear-gradient(90deg, #c43b37 0%, #ed5154 35%, #c04646 100%);
}
.redMenu .menu-body ul li.active {
  background-color: rgba(255, 255, 255, 0.815);
}

.Green {
  width: auto;
  min-width: 20vw;
  padding: 0rem 0.8rem;
  top: 5px;
  right: 5px;
  width: 23vw;
  border-radius: 10px;
  background-color: #25244e;
  border: solid 1px #393869;
}
.Green ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #393869;
  background-color: #393869;
}
.Green ::-webkit-scrollbar {
  width: 4px;
}
.Green ::-webkit-scrollbar-thumb {
  background-color: #59579e;
}
.Green * {
  font-family: "Inter", sans-serif;
}
.Green .menu-body {
  max-height: initial;
  height: initial;
}
.Green .menu-header {
  background: transparent;
  padding: 1rem 0rem;
  text-align: center;
  color: #dcdcee;
}
.Green .menu-header h2 {
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.Green .menu-title {
  color: rgb(110, 111, 166);
  background: none;
  font-weight: 700;
  font-size: 1rem;
}
.Green .menu-body {
  background: transparent;
}
.Green .menu-body ul li {
  margin: 0.8rem 0rem;
  border-radius: 0.5rem;
  border: solid;
  border-color: rgba(73, 72, 124, 0.5);
  border-width: 2.6px;
  background: rgba(57, 56, 105, 0.3);
  padding: 0.6rem;
  font-weight: 600;
  font-size: 1rem;
}
.Green .menu-body ul li.active {
  background: rgba(57, 56, 105, 0.8);
}
.Green .menu-body ul li.active a {
  color: #f4dcff;
}
.Green .menu-footer {
  border-top: solid;
  border-color: rgba(73, 72, 124, 0.5);
  border-width: 2.6px;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  background: transparent;
  border-radius: 0 0 0.5rem 0.5rem;
}

.redMenu {
  width: auto;
  min-width: 20vw;
  padding: 0rem 1rem;
  width: 25vw;
  border-radius: 30px;
  background-color: rgb(247, 112, 98);
}
.redMenu ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #693838;
  background-color: #693838;
}
.redMenu ::-webkit-scrollbar {
  width: 4px;
}
.redMenu ::-webkit-scrollbar-thumb {
  background-color: #9e5757;
}
.redMenu * {
  font-family: "Rubik", sans-serif;
}
.redMenu .menu-body {
  max-height: initial;
  height: initial;
}
.redMenu .menu-header {
  background: transparent;
  padding: 1rem 0rem;
  text-align: center;
  color: #fff4f4;
  border-bottom: 1px solid #fff4f4;
  margin-bottom: 0.5rem;
}
.redMenu .menu-header h2 {
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.redMenu .menu-title {
  color: #fff4f4;
  background: none;
  font-weight: 700;
  font-size: 1rem;
}
.redMenu .menu-body {
  background: transparent;
}
.redMenu .menu-body ul li {
  margin: 0.5rem 0rem;
  border-radius: 50px;
  background: transparent;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  justify-content: flex-start;
}
.redMenu .menu-body ul li:before {
  content: "ο";
  color: #fff4f4;
  width: 20px;
}
.redMenu .menu-body ul li.active {
  background: #fff4f4;
}
.redMenu .menu-body ul li.active:before {
  color: #f77062;
}
.redMenu .menu-body ul li.active a {
  color: #f77062;
}
.redMenu .menu-footer {
  border-top: solid;
  border-color: #fff4f4;
  border-width: 1px;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  background: transparent;
  border-radius: 0 0 0.5rem 0.5rem;
  color: #fff4f4;
}
.redMenu .avatar {
  border-radius: 50px;
}

.avatar {
  width: 20%;
  border-radius: 0.5rem;
  border: solid 0.2rem rgba(255, 255, 255, 0.212);
}/*# sourceMappingURL=style.css.map */